<nav class="navbar navbar-expand-md navbar-dark fixed-top   d-flex justify-content-between">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../../../assets/images/world.svg" alt="" style="height: 60px"> Banco Accenture</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active d-block d-sm-none">
                    <a class="nav-link" href="#">Solicitud</a>
                </li>

            </ul>

        </div>
    </div>

</nav>
