<app-menu></app-menu>
<ngb-carousel>
    <ng-template ngbSlide>
        <img src="../../../assets/images/1.jpg" alt="Random first slide">
        <div class="carousel-caption">
            <h3>Start Buying & Selling</h3>
            <p>Excepteur sint occaecat cupidatat non proident.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="../../../assets/images/2.jpg" alt="Random second slide">
        <div class="carousel-caption">
            <h3>Make a Payment</h3>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia. </p>
        </div>
    </ng-template>


</ngb-carousel>
<main role="main">
    <div class="container-fluid bg-light">
        <div class="solicitud pt-5 ">

            <div class="container">
                <div class="row ">
                    <div class="col-md-7">
                        <h2 class="heading">Cuenta conmigo. <span class="text-muted">Planifica tus ahorros.</span></h2>
                        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

                        <button type="button" class="btn btn-dark my-5">Solicitud de crédito</button>
                    </div>
                    <div class="col-md-5">
                        <img src="../../../assets/images/img-man-1.png" alt="">
                    </div>
                </div>
            </div>

        </div>



    </div>
    <div class="register">
        <div class="container">
            <div class="text-center black mb-5">
                <h3>Registrate</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy <br> eirmod tempor invidunt ut laboret dolore magna aliquyam erat.</p>
            </div>
            <app-register></app-register>
        </div>
    </div>

    <div class="container marketing mt-5">


        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="../../../assets/images/icons2/bill.svg" style="height:80px" alt="">
                <h2>Balance</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 text-center">
                <img src="../../../assets/images/icons2/cash.svg" style="height:80px" alt="">
                <h2>Pagos</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 text-center">
                <img src="../../../assets/images/icons2/credit-cards-payment.svg" style="height:80px" alt="">
                <h2>Ahorro</h2>
                <p>Donec sed odio dui. Cras fermentum massa justo sit amet risus.
                </p>

            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->




    </div>




</main>

<app-footer></app-footer>
