<app-menu></app-menu>
<ngb-carousel>
    <ng-template ngbSlide>
        <img src="../../../assets/images/1.jpg" alt="Random first slide">
        <div class="carousel-caption">
            <h3>Start Buying & Selling</h3>
            <p>Excepteur sint occaecat cupidatat non proident.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="../../../assets/images/2.jpg" alt="Random second slide">
        <div class="carousel-caption">
            <h3>Make a Payment</h3>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia. </p>
        </div>
    </ng-template>


</ngb-carousel>
<main role="main" class="container mt-5">
    <app-register></app-register>
</main>

<app-footer></app-footer>
