<div class="footer-top mt-5">
    <div class="contact-container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="footer-top">
                    <p>
                        <i class="far fa-envelope"></i><span>Email: </span>admin@accenturebank.com</p>
                </div>

            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="footer-top">
                    <p>
                        <i class="fas fa-phone-volume"></i><span>Call: </span>265 256 508</p>
                </div>

            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="footer-top">
                    <p><i class="fas fa-map-marked"></i><span>Address: </span>Dublín, Irlanda</p>
                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.contact-container -->
</div>

<div class="footer-bottom">
    <div class="contact-container d-flex justify-content-between">
        <div class=" copy-text">
            <p>© 2019 AccentureBank.com All copy rights are reserved.</p>
        </div>

        <div class="social ">
            <a href="#"><i class="fas fa-hashtag"></i></a>

            <a href="#" class=""><i class="fas fa-laptop-code"></i></a>

            <a href="#" class=""><i class="fas fa-video"></i></a>


        </div>
        <!-- /.social -->
    </div>
    <!-- /.contact-container -->
</div>
